<div class="new-comment">
    <div class="header-container"></div>
    <form class="new-comment form">
        <label
            for="comment-content"
            class="comment-label label"
        >Comment:</label>
        <textarea class="comment-content" required name="commentContent">
        </textarea>
        <input type="submit" class="submit" />
    </form>
</div>