<div class="new-comment container">
    <div class="header-container"></div>
    <form
        action="/api/comment/create/{{post.id}}"
        class="new-comment form"
        method="POST"
    >
        <label
            for="comment-content"
            class="comment-label label"
        >Comment:</label>
        <textarea class="comment-content" required name="commentContent">
        </textarea>
        <input type="submit" class="submit" />
    </form>
</div>