<div class="new-post-form-container container">
    <div class="header-container"></div>
    <form class="update-post-form form" id="new-post-form">
        <label for="new-post-title" class="new-post-title">Post Title:</label>
        <input
            type="text"
            class="new-post-title-input"
            name="postTitle"
            value="{{post.postTitle}}"
            required
        />
        <label for="new-post-content" class="new-post-label">Post Content:</label>
        <textarea
            form="new-post-form"
            class="new-post-content-input"
            name="postContent"
            value="required"
        >{{post.postContent}}</textarea>
        <input type="submit" value="Update Post" class="submit update-post" />
    </form>
    <button class="delete-post-button submit">Delete</button>
</div>
<script src="/js/post.js" defer></script>