<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Ready</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <a  class="logo" href="/">
                Tech Bloch
            </a>
        </div>
        <nav>
            {{#if logged_in}}
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/logout" id="logout">Logout</a>
            {{else}}
                <a class="nav-link" href="/signup">Sign Up</a>
                <a class="nav-link" href="/login">Login</a>
            {{/if}}
        </nav>

    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <div class="logo">
            <h2>Created</h2>
            <h2 class="logo-orange pl">by</h2>
        </div>

        <a href="https://github.com/lewy192" target="_blank" class="creator-name">Lewis</a>


    </footer>
</div>
</body>