<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <a  class="logo" href="/">
                Tech Blog
            </a>
        </div>
        <nav>
            {{#if loggedIn}}
                <a href="/" class="nav-link home-link">Home</a>
                <a class="nav-link" href="/logout" id="logout">Logout</a>
                <a class="nav-link" href="/logout" id="dashboard">Dashboard</a>
            {{else}}
                <a href="/" class="nav-link home-link">Home</a>
                <a class="nav-link signup-link" href="/signup">Sign Up</a>
                <a class="nav-link login-link" href="/login">Login</a>
            {{/if}}
        </nav>

    </header>
    <main>
        {{{ body }}}
    </main>
</div>
</body>