<div class="credentials-container">
    <div class="header-container">
        <h3 class="login-header">Login</h3>
    </div>
    <form action="/api/login" method="POST" class="login-form">
        {{#if detailsIncorrect}}
            <h3 class="error">Username/password incorrect.</h3>
        {{/if}}
        <label for="username-input" class="label">Username:</label>
        <input
            type="text"
            class="username-input"
            id="username-input"
            name="username"
        />
        <label for="password-input" class="label">Password:</label>
        <input
            type="password"
            class="password-input"
            id="password-input"
            name="password"
        />
        {{#if login}}
            <input type="submit" value="Login" class="submit" />
            <a
                href="/signup"
                class="to-signup"
                style="text-decoration: none; font-size: 18px"
            >Signup Instead</a>
        {{else}}
            <input type="submit" value="Signup" class="submit" />
            <a
                href="/login"
                class="to-signup"
                style="text-decoration: none; font-size: 18px"
            >Login Instead</a>
        {{/if}}
    </form>
</div>