<div class="main-content">
    <div class="question-container">
        <div class="question">
            <h2 class="question-header">How does the stack work?</h2>
            <p class="question-body">So I've been wondering how the stack works
                can anyone help me?</p>
        </div>
    </div>
</div>