<div class="new-post-container container">
    <div class="header-container"></div>
    <form action="/api/post/create" class="new-post-form" method="POST">
        <label for="new-post-title" class="new-post-title">Post Title:</label>
        <input type="text" class="new-post-title" />
        <label for="new-post-content" class="new-post-content">Post Content</label>
        <input type="text" class="new-post-content" />
        <input type="submit" value="New Post" class="submit" />
    </form>
</div>