<div class="credentials-container">
    <div class="header-container">

        <h3 class="login-header">Signup</h3>
    </div>
    <form action="/api/signup" method="POST" class="login-form">
        <label for="username-input" class="label">Username:</label>
        <input
            type="text"
            class="username-input"
            id="username-input"
            name="username"
            required
        />
        <label for="password-input" class="label">Password:</label>
        <input
            type="password"
            class="password-input"
            id="password-input"
            name="password"
            required
        />

        <input type="submit" value="Signup" class="submit" />
        <a
            href="/login"
            class="to-signup"
            style="text-decoration: none; font-size: 18px"
        >Login Instead</a>
    </form>
</div>